* {
  box-sizing: border-box;
}

a{
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  display: flex;
}



.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  color: #ffffff;
  a{
    // color: #ffffff;
  }
  &__header {
    width: 300px;
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    display: flex;
    align-items: center;
    color: white;
    &-box {
      display: flex;
      justify-content: space-between;
      width:  260px;
      height: 20px;
      &-name {
        font-size: 16px;
        font-weight: bold;
      }
        &-icon {
          display: flex;
          justify-content: end;
          color: white;
          a:hover {
            color:white;
          }
          &-new {
            list-style: none;
            color: #ffffff;
          }
          &-edit {
            margin-left: 5px;
            list-style: none;
            color: #ffffff;
          }
      }
    }
  }
  &__lists {
    padding: 0 20px;
    display: block;
    height : calc(100vh - 100px);
    a:hover {
      color:white;
    }
      &__list {
        padding: 20px 0 40px;
        box-sizing: border-box;
        &__message {
        font-size: 15px;
        }
        &__message2 {
          font-size: 11px;
          margin-top: 5px;
        }
      }
  }
}

.chat-main {
  a{
    color: #38AEF0;
  }
  &__header {
    background-color: #ffffff;
    width: calc(100vw - 300px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
      &__test {
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        &__name {
          font-size: 12px;
          color: #999999;
          padding-top: 15px;
          display: flex;
        }
      }
    &__edit {
      display: block;
      font-size: 16px;
      width: 72px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      color: #38AEF0;
      border: 1px solid #38AEF0;
      align-items: center;
      margin-top: 28px;
    }
  }
  &__message {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    overflow: scroll;
      .MessageBox {
        padding-left: 40px;
        padding-top: 35px;
        &__userName {
          color: #333333;
          font-size: 16px;
          padding-bottom: 12px;
          display: flex;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .Message__content {
        padding-bottom: 46px;
        color: #434A54;
        font-size: 14px;
      }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    Form {
      display: flex;
      .Form__contents {
        display: flex;
        width: 100%;
        position: relative;
        .input-box__text {
          height: 50px;
          width: 100%;
          color: #434A54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        .input-box__image {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;

          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        border: none;
      }
    }
  }
}